.dark-primary-color    { background: #0097A7; }
.default-primary-color { background: #00BCD4; }
.light-primary-color   { background: #B2EBF2; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #795548; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

html, body {
    font-family: arial;
    margin: 0 2%;
    width: 95%;
    height: 600px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#dash-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#side-column {
    width: 35%;
    height: 600px;
    border-left: solid 1px lightgrey;
    border-right: none;
    border-bottom: solid 1px lightgrey;
    order: 1;
    margin: 0px;
    padding: none;
    /*background-color: #bdbdbd;*/
}

#cards-container {
    border: none;
    margin: 0px;
}

#dash-bio-section {
    height: 200px;
    width: 100%;
    border: none;
    margin: 4px 0 20% 0;
    text-align: center;
    padding-top: 2px;
    background-color: #B1EAF1;
}

#login-form {
    height: 600px;
    width: 350px;
    margin: 0 auto;
}

#login-form fieldset {
    display: flex;
    flex-direction: column;
    margin: 0px 20%;
    border: none;
}

fieldset {
    border: none;
}

#new-post { 
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background-color: #D7CCC8;
}

#new-post legend {
    font-size: 12px;
    color: #fff;
}

#login-form input {
    margin: 5% 5%;
}


/*nav {
    border: none;
    

}*/

nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 15%;
    width: 30%;
    margin-left: 20px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 15%;
    width: 50%;
    margin-left: 20px;
}

main {
    border-left: solid 1px lightgrey;
    border-right: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
    height: 600px;
    width: 65%;
    order: 2;
    margin: none;
    overflow: scroll;
    padding: none;
}

#turbutton {
    width: 50px;
    height: 30px;
    margin: 0px;
    padding: 0px;

}

#form-wrapper {

    margin-top: 60%;
    
}

#logo-container {
    height: 115px;
    width: 171px;
    background-image: url("../images/logo.png");
    margin: 10% auto 3% auto;
}

#login-button {
margin: auto;

}

#turTextArea {
    background-color: white;
    border-radius: 5px;
}
