* {
    background-color: #edeff2;
}

#twitterlogo {
    max-height: 70px;
    max-width: 70px;
}

h1 {
    text-align: center;
    margin: 20px;
    padding: 30px;
    font-family: 'Raleway', sans-serif;
}

h2, h4 {
    font-family: 'Raleway', sans-serif;
}

p {

    font-family: 'Raleway', sans-serif;
}

#bensonW {
    width: 100%;
    border-radius: 20px;
}

#verified {
   width: 10%;   
}

.prePosts {
    width: 65%;
    float: right;
}

.tweets {
    border: black solid;
    padding: 15px;
    margin: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    border-radius: 20px;


}

.imgAndText {
    float: left;
    width: 30%;
}

form {
    font-family: 'Raleway', sans-serif;
}

