h1 {
    text-align: center;
    margin: 20px;
    padding: 30px;
    font-family: 'Playfair Display', serif;
}

img {
    width: 100%;
}

.prePosts {
    width: 65%;
    float: right;
}

p {
    border: black solid;
    padding: 15px;
    font-family: 'Raleway', sans-serif;


}

.imgAndText {
    float: left;
    width: 30%;
}

